.brand-name {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-size: 7em;
  color: #a06b58;
  padding-top: 90px;
  margin-left: 20px;
  text-align: center;
  /* position: absolute; */
  z-index: 9999;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-container {
  display: flex;
}

.img-item {
  margin: 10px;
  width: 300px;
}

.homepage-body-bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-bottom: 7em;
}

.slogan-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
  background-color: #e0b5a5;
  text-align: center;
  line-height: 3.5em;
  opacity: 0.8;
}

.homepage-box h1 {
  font-size: 3.5em;
  color: #7c4d3c;
  text-align: left;
}

.homepage-box h2 {
  font-size: 2em;
}

.span-1 {
  color: #a08f77;
}

.span-2 {
  color: #f1daba;
}

.span-3 {
  color: #f6f0eb;
}

.homepage-body-p p {
  color: #a06b58;
  font-weight: bolder;
  font-size: 32px;
  width: 30vw;
  text-align: left;
  margin-left: 30px;
}

.bestsellers-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 5px;
  border: 1px solid;
}

.bestseller-item {
  position: relative;
  width: 200px;
  text-align: center;
}

.bestseller-label {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(50%);
  background-color: #da4848;
  color: #ffff;
  padding: 4px;
  font-size: 10px;
  font-weight: bold;
  z-index: 10;
}

.bestseller-item img {
  width: 100%;
  height: auto;
}

.bestseller-item h3 {
  font-size: 16px;
  color: #7c4d3c;
}

.rating {
  color: #7c4d3c;
}

.rating span {
  color: gold;
  font-size: 14px;
}

/* Responsive Styles */
