footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e0b5a5;
  text-align: center;
  width: 100%;
}

.footer-icon a {
  margin-left: 15px;
  color: #a06b58;
}

.footer-p {
  color: #f6f0eb;
}

.footer-img img {
  width: 600px;
}
