footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e0b5a5;
  text-align: center;
  width: 100%;
}

.footer-icon a {
  margin-left: 15px;
  color: #a06b58;
}

.footer-p {
  color: #f6f0eb;
}

.footer-img img {
  width: 600px;
}

@media (max-width: 768px) {
  footer {
    flex-direction: column;
    padding: 10px; 
  }

  .footer-img img {
    width: 80%; 
    margin-bottom: 20px; 
  }

  .footer-icon {
    margin-top: 10px; 
  }

  .footer-p {
    font-size: 14px; /
  }

  .footer-icon a {
    font-size: 20px; 
  }
}
