.shopping-card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 60px;
  width: 90%;
  margin: 0 auto;
}

.shopping-card h1 {
  color: #a08f77;
  font-size: 48px;
  background-color: #e0b5a5;
  padding: 15px;
  width: 500px;
}

.empty-h1 {
  text-align: center;
  border-radius: 5px;
}

.shopping-card h4 {
  color: #a06b58;
  font-size: 24px;
}

.shopping-container {
  display: flex;
  align-items: start;
  text-align: center;
  justify-content: flex-start;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  min-width: 500px;
}

.shopping-image {
  max-width: 200px;
  height: auto;
  margin-right: 20px;
}

.shopping-details {
  /* margin: 20px; */
  text-align: left;
}

.shopping-details h2 {
  font-size: 32px;
  color: #a06b58;
}

.shopping-details p {
  margin: 5px;
  color: #a06b58;
}

.shopping-details input {
  width: 40px;
  padding-left: 5px;
}

button i {
  color: #de4f4f;
}

.total-price {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  background-color: #e0b5a5;
  width: 500px;
  padding: 10px;
  color: #a08f77;
}

.payment-step {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e0b5a5;
  height: 120px;
  padding: 20px;
  border-radius: 15px;
  cursor: pointer;
}

.payment-step p {
  font-size: 48px;
  color: #a06b58;
  padding: 15px;
}

.payment-step i {
  color: #a06b58;
}
